# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore other unnecessary files
.git
.DS_Store
.vscode/
.idea/

# Ignore virtual environment directories
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore test and coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Ignore installer logs
pip-log.txt
pip-delete-this-directory.txt

# Ignore build artifacts
dist/
build/

# Terraform files
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
*.tfvars.json

# Ignore environment files
.env
.env.*