service_account.json

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# c extensions
*.so

# packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
*.egg-info/
.installed.cfg
*.egg

# installer logs
pip-log.txt
pip-delete-this-directory.txt

# test logs
.coverage
.tox/
.nox/
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env.local
.env.*.local

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyre type checker
.pyre/

# unit test / coverage reports
htmlcov/

# editor directories and files
.vscode/
.idea/
*.swp

# macOS specific
.DS_Store

# docker specific
docker-compose.yml
docker-compose.override.yml

# terraform files
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
*.tfvars.json

# ignore python environment files
beam-env/